$login-bg-color: rgb(255, 219, 233);
$login-bg-color: rgb(145, 186, 232);
$header-bg-color: rgb(160, 139, 280);
$font-color: rgb(160, 139, 208);
$active-font-color: wheat;
$active-header-bg-color: rgb(173, 172, 230);
$error-color: rgb(234, 57, 83);
$accept-color: rgb(96, 217, 198);
$button-bg-color: rgb(141, 87, 173);
$button-bg-color-dark: rgb(113, 50, 121);
$input-bg-color: rgb(173, 172, 230);
