@import "../../common/colors.scss";

.menu {
  width: 80%;
  min-height: 100px;
  height: 100%;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
}

.menu-item {
  height: 100%;
  padding: 0 30px;
  border-radius: 20px;

  &.active,
  &:hover {
    color: $active-font-color;
    background-color: $active-header-bg-color;
    height: 100%;
  }
}

.menu-tiem > p {
  display: block;
}
