@import "../../../common/colors.scss";

.register-page {
  background-color: $register-bg-color;
  width: 60%;
  min-width: 400x;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: -1px 10px 15px 2px $register-bg-border-color;
}
